.container{

    .user-table{
    margin-top: 20px;

    }
    .btn-edit{
        width: 50px;
        border: none;
        outline: none;
        background: transparent;
        color: orange;
    &:hover{
        background-color: transparent  !important;
        color: orange !important;
    }       
    }
    .btn-delete{
        width: 50px;
        border: none;
        outline: none;
        background: transparent;
        color: #ffff;
    &:hover{
        background-color: transparent  !important;
        color: #ffff !important;
    }       
    }
}
