@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500;600;800&display=swap');
.ha-tay{
    margin-top: 10px;
}
.ha-tay h1{
    color: orangered;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
}
